body { background: #d2c51d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 40px; display: flex; }
.block-logger-0 { color: #2f6d1; font-size: 19px; margin-bottom: 5px; }
.block-order-1 { color: #898b6a; font-size: 18px; margin-bottom: 5px; }
.block-order-2 { color: #bb05ab; font-size: 16px; margin-bottom: 5px; }
.block-order-3 { color: #1cd57c; font-size: 21px; margin-bottom: 5px; }
.block-logger-4 { color: #e00e5a; font-size: 13px; margin-bottom: 5px; }